<h1><%= params[:nickname] %></h1>

<% percentage = @badges.count / 19.0 * 100.0 %>

<% if percentage > 70 %>
  <span style="color: green; font-size: 32px"><%= percentage.round %>%</span>
<% else %>
  <span style="color: red; font-size: 32px"><%= percentage.round %>%</span>
<% end %>

<h2>Achieved</h2>

<ul>
  <% @badges.each do |badge| %>
    <li><%= badge.title %></li>
  <% end %>
</ul>